DJANGO_SECRET_KEY=change-this-long-random-value
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=morasalat.example.sa
POSTGRES_DB=morasalat
POSTGRES_USER=morasalat
POSTGRES_PASSWORD=change-this-database-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
MEDIA_ROOT=/srv/morasalat/private_uploads
